echo "env30/" >> .gitignore
echo "__pycache__/" >> .gitignore
echo "*.pyc" >> .gitignore
echo ".DS_Store" >> .gitignore
echo ".vscode/" >> .gitignore
echo ".idea/" >> .gitignore
echo ".env" >> .gitignore
